.gradient{
    background: #b3eaff;
    background: -moz-linear-gradient(top,  #b3eaff 13%, #71d1f8 13%, #336185 100%);
    background: -webkit-linear-gradient(top,  #b3eaff 13%,#71d1f8 13%,#336185 100%);
    background: -o-linear-gradient(top,  #b3eaff 13%,#71d1f8 13%,#336185 100%);
    background: -ms-linear-gradient(top,  #b3eaff 13%,#71d1f8 13%,#336185 100%);
    background: linear-gradient(to bottom,  #b3eaff 13%,#71d1f8 13%,#336185 100%);
}

#timeline{
    height: 40px;
    width:80%;
    position:relative;
    margin:200px auto;

}

#timeline .bar{
    height: 19px;
    width: 100%;
    background: #122244;
    border: 5px solid #122244;
    box-sizing: border-box;
    border-radius: 6px;
    overflow:hidden;
    position: absolute;
    top:9px;
    left:18px;
    right:18px;
    z-index:1;
}

#timeline .bar .progress{
    border-radius: 4px;
    height: 9px;
    width: 0%;

}

#timeline ul{
    margin:0;
    padding:0;
}

#timeline .icon{
    position: absolute;
    display: block;
    webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#timeline .icon .circle{
    position:relative;
    display: block;
    height: 37px;
    width: 37px;
    border-radius: 18px;
    border: 4px solid #122244;
    color: #122244;
    z-index:2;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    cursor:pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#timeline .icon.future .circle{
    color: #fff;
    background: #122244;
    background: -moz-linear-gradient(top,  #122244 0%, #122244 100%);
    background: -webkit-linear-gradient(top,  #122244 0%,#122244 100%);
    background: -o-linear-gradient(top,  #122244 0%,#122244 100%);
    background: -ms-linear-gradient(top,  #122244 0%,#122244 100%);
    background: linear-gradient(to bottom,  #122244 0%,#122244 100%);
}

#timeline .icon:hover .circle{
    color: #fff;
    background: #5fbb95;
    background: -moz-linear-gradient(top,  #5fbb95 0%, #5fbb95 100%);
    background: -webkit-linear-gradient(top,  #5fbb95 0%,#5fbb95 100%);
    background: -o-linear-gradient(top,  #5fbb95 0%,#5fbb95 100%);
    background: -ms-linear-gradient(top,  #5fbb95 0%,#5fbb95 100%);
    background: linear-gradient(to bottom,  #5fbb95 0%,#5fbb95 100%);
}

#timeline .info{
    border: 1px solid #5fbb95;
    background: #fff;
    color:#333;
    min-width: 137px;
    position: absolute;
    left: -50px;
    box-sizing: border-box;
    bottom: 50px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    display:none;
}

#timeline .icon:hover .info{
    display:block;
}

#timeline .info h2{
    font-size: 10px;
    font-weight:200;
    text-transform: uppercase;
    padding:10px;
    margin:0;
}

#timeline .info h3{
    font-size: 10px;
    text-transform: uppercase;
    padding:10px;
    margin:0;
}

#timeline .info hr{
    margin:0;
    border:0;
    background: #5fbb95;
}




@media screen and (max-width: 960px) {

    #timeline {
        margin-top:50px;
    }

    #timeline .bar{
        display:none;
    }

    #timeline li.icon{
        display:block;
        position:relative;
        left:0 !important;
        margin-bottom: 50px;
    }

    #timeline li.icon .circle{
        display:inline-block;
    }

    #timeline li.icon .info{
        display:inline-block;
        left: 50px;
        bottom:0;
    }

    #timeline .icon:hover .info{
        display:inline-block;
    }

    #timeline .icon h2{
        display:inline-block;
    }

    #timeline .icon h3{
        display:inline-block;
    }

    #timeline .icon hr{
        display:none;
    }
}